# /etc/systemd/system/agent.service
# ---------------------------------------------------------
[Unit]
Description=Cloud-Based Linux Server Performance Agent
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=jeremyrios711                              # change any instances of this username if you use another account
WorkingDirectory=/home/jeremyrios711/sysmon      # directory that holds agent.py
ExecStart=/usr/bin/python3 /home/jeremyrios711/sysmon/agent.py
Restart=on-failure                        # restart on crash or non-zero exit
RestartSec=5                              # wait 5 s before restarting
StandardOutput=append:/var/log/agent.log  # optional consolidated logs
StandardError=append:/var/log/agent.err.log
Environment=PYTHONUNBUFFERED=1            # flush logs immediately

[Install]
WantedBy=multi-user.target
