[Unit]
Description=SysMon Metrics Collector (feeds agent via /tmp/sysmon_pipe)
Wants=sysmon-agent.service
After=sysmon-agent.service

[Service]
Type=simple
User=jeremyrios711 #Change to your username
Group=group #Change to your group
WorkingDirectory=/home/jeremyrios711/sysmon #Change to your agent file directory
ExecStart=/usr/bin/python3 -u /home/jeremyrios711/sysmon/monitor.py #Change to your agent file directory
Restart=always
RestartSec=300 #Every 5 minutes

[Install]
WantedBy=multi-user.target