[Unit]
Description=Stress Test Service
After=network.target

[Service]
ExecStart=/home/bjanmesh21/stress_script.sh
WorkingDirectory=/home/bjanmesh21
Restart=always
User=bjanmesh21

[Install]
WantedBy=multi-user.target
